.sony {
    background-color: #003791;
    color: white;
    padding: .2em;
    border-radius: 4px;
}
.microsoft {
    background-color: #107c10;
    color: white;
    padding: .2em;
    border-radius: 4px;
}
.nintendo {
    background-color: #e60012;
    color: white;
    padding: .2em;
    border-radius: 4px;
}

.generic {
    background-color: #252525;
    color: white;
    padding: .2em;
    border-radius: 4px;
}

.apple {
    background-color: #7D7D7D;
    color: white;
    padding: .2em;
    border-radius: 4px;
}

.platform {
    margin-bottom: .2em;
    margin-right: .2em;
    display: inline-block;
}

