.navbar {
    border: 2px solid black;
}

.navbar-item.is-active {
    border-top: 1px solid slategrey;
    border-left: 1px solid slategrey;
    border-right: 1px solid slategrey;
    margin-top: .2em;
    border-radius: 4px 4px 0px 0px;
}

.logo {
    height: 50px;
    width: 50px;
    margin: 1px
}